@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .show-ring {
    @apply outline-none ring-2 ring-secondary-highlight ring-offset-2 ring-offset-app-bg;
  }
  .show-ring-tertiary {
    @apply outline-none ring-2 ring-secondary-highlight ring-offset-2 ring-offset-tertiary;
  }
  .show-ring-no-offset {
    @apply outline-none ring-2 ring-secondary-highlight;
  }
  .pause {
    animation-play-state: paused;
  }
}

body {
  line-height: 1.5;
  color: rgb(var(--color-text-primary));

  /*
  background-repeat: no-repeat;
  background: rgb(var(--color-bg-base));
  min-height: 100vh;
  min-height: calc(100vh - env(safe-area-inset-bottom));
  */
}

body[data-theme="light"] {
  /* --color-bg-primary: 224, 251, 253; */
  /* --color-bg-secondary: 152, 193, 218; */
  /* --color-bg-primary: 153, 195, 225; */
  --color-bg-primary: 181, 214, 238;
  --color-bg-secondary: 194, 219, 237;
  /* --color-bg-secondary: 124, 170, 217; */
  --color-bg-modal: 243, 248, 251;

  --color-app-primary: 248, 240, 227;
  --color-app-primary-highlight: 246, 231, 211;
  --color-app-secondary: 80, 149, 213;
  --color-app-secondary-highlight: 49, 130, 206;
  --color-app-tertiary: 243, 248, 251;
  --color-app-tertiary-highlight: 222, 236, 244;
  --color-app-gray: 215, 215, 215;

  --color-app-error: 181, 5, 37;
  --color-app-danger: 222, 53, 11;
  --color-app-danger-light: 255, 189, 173;

  --color-app-heart: 255, 62, 58;

  /* adds an opacity value in, handled different in tailwind.config.js */
  --color-shadow: 0, 0, 0, 0.1;

  --color-text-primary: 45, 45, 45;
  --color-text-primary-highlight: 23, 23, 23;
  --color-text-primary-faded: 90, 90, 90;
  /* --color-text-secondary: 32, 88, 139; */
  --color-text-secondary: 11, 67, 118;
  --color-text-error: 176, 0, 32;

  --color-text-snackbar-error: 207, 207, 207;
  --color-snackbar-error: 181, 5, 37;
}

body[data-theme="dark"] {
  --color-bg-primary: 0, 0, 0;
  --color-bg-secondary: 22, 40, 62;
  --color-bg-modal: 57, 75, 95;

  --color-app-primary: 37, 49, 62;
  --color-app-primary-highlight: 57, 75, 95;
  --color-app-secondary: 49, 130, 206;
  --color-app-secondary-highlight: 78, 147, 212;
  /* --color-app-tertiary: 3, 24, 47; */
  --color-app-tertiary: 4, 31, 61;
  --color-app-tertiary-highlight: 10, 40, 74;
  /* --color-app-tertiary-highlight: 24, 59, 99; */
  --color-app-gray: 52, 58, 70;

  --color-app-error: 176, 0, 32;

  /* --color-app-error: 176, 0, 32; */
  --color-app-danger: 222, 53, 11;
  --color-app-danger-light: 255, 189, 173;

  --color-app-heart: 255, 62, 58;

  /* adds an opacity value in, handled different in tailwind.config.js */
  --color-shadow: 0, 0, 0, 1;

  --color-text-primary: 207, 207, 207;
  --color-text-primary-highlight: 250, 250, 250;
  --color-text-primary-faded: 175, 175, 175;
  --color-text-secondary: 255, 107, 0;
  /* --color-text-error: 225, 49, 81; */
  /* --color-text-error: 242, 66, 98; */

  /* PINK */
  /* --color-text-error: 255, 128, 161; */

  /* DARKER BETTER PINK */
  --color-text-error: 242, 66, 98;

  --color-text-snackbar-error: 207, 207, 207;
  --color-snackbar-error: 158, 0, 14;
}
